
@using MvcStok.Models.Entity
@model List<TBLURUNLER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>URUN ID</th>
        <th>URUN ADI</th>
        <th>KATEGORİ</th>
        <th>FIYAT</th>
        <th> STOK</th>
        <th> MARKA</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>
    <tbody>
        @foreach (var urn in Model)
        {
            <tr>
                <td>@urn.URUNID</td>
                <td>@urn.URUNAD</td>
                <td>@urn.TBLKATEGORI.KATEGORIADI</td>
                <td>@urn.FIYAT</td>
                <td>@urn.STOK</td>
                <td>@urn.MARKA</td>
                <td><a href="/URUN/SIL/@urn.URUNID" class=" btn btn-danger">SİL</a></td>
                <td><a href="/URUN/UrunGetir/@urn.URUNID" class=" btn btn-primary">GÜNCELLE</a></td>
            </tr>
        }


    </tbody>
</table>
<a href="/URUN/Yeniurun" class="btn btn-primary">Yeni Ürün ekle </a>
